<%= link_to "Ask New Question", controller: "questions", action: "new" %>
<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @question.content %>
</p>
<p>
  <h2>Tags</h2>
  <%= @question.tag_list %>
</p>
<%= link_to "Answer", new_question_answer_path(@question.id) %>
