<%= link_to "Ask New Question", controller: "questions", action: "new" %>
<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @question.content %>
</p>
<p>
  <h2>Tags</h2>
  <%= @question.tag_list %>
</p>
<%= form_for :answer, url: question_answers_path(@question) do |f| %>
<p>
  <%= f.label :body %><br>
  <%= f.text_area :body %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
<ul>
<% @answers.each do |answer| %>
  <li><%= answer %></li>
<% end %>
</ul>
